<mat-toolbar color="primary">
    <span>Mapas</span>
</mat-toolbar>

<div class="main-container">
    <!-- <button mat-flat-button>Basic</button>
    <button mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="accent">Accent</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button routerLink=".">Link</a>

    <br>
    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->

    <app-mapa></app-mapa>
</div>



<router-outlet></router-outlet>